[flake8]
# Setup of for black compatibility
# (see https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length)
max-line-length = 80
select = C,E,F,W,B,B950
ignore = E501
; hangs for some reason
;exclude =
;    teleinfo/serial_asyncio