site_name: pyteleinfo
site_description: A serial reader for ENEDIS teleinfo
site_author: Emmanuel Sciara
repo_name: esciara/pyteleinfo
repo_url: https://github.com/esciara/pyteleinfo
edit_uri: edit/master/docs/
copyright: Copyright &copy; 2019 Emmanuel Sciara

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            show_root_heading: true
            docstring_style: google
            members_order: source
            show_signature_annotations: true
            separate_signature: true
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index

markdown_extensions:
  - admonition
  - attr_list
  - codehilite
  - def_list
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home: index.md
  - API Reference: reference/

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/esciara/pyteleinfo
