# Largely inspired from (pointing to precise version)
# https://github.com/thejohnfreeman/project-template-python/tree/6d04c7b3b00460bb7473246096c52cc22d403226

[tool.poetry]
name = "pyteleinfo"
version = "0.0.1"
description = ""
authors = ["Emmanuel Sciara <emmanuel.sciara@gmail.com>"]
packages = [
    { include = "teleinfo" },
]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    'Intended Audience :: End Users/Desktop',
    'Natural Language :: English',
    'Operating System :: POSIX',
    'Operating System :: Microsoft :: Windows',
    'Operating System :: MacOS :: MacOS X',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.6',
    'Programming Language :: Python :: 3.7',
    'Topic :: Communications',
    'Topic :: Software Development :: Libraries',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'Topic :: Terminals :: Serial',
    'License :: OSI Approved :: BSD License',
]

[tool.poetry.dependencies]
python = "^3.8"

# Optional dependencies to be part of `test` extra
pytest = {version = "^6.1", optional = true}
pytest-cov = {version = "^3.0", optional = true}
pytest-mock = {version = "^3.2", optional = true}
pytest-html = {version = "^3.1", optional = true}
pytest-asyncio = {version = "^0", optional = true}
# Optional dependencies to be part of `bdd` extra
behave4git = {version = "^0", optional = true}
PyHamcrest = {version = "^2.0", optional = true}
# Optional dependencies to be part of `lint` extra
flake8 = {version = "^4.0", optional = true}
pydocstyle = {version = "^6.1", optional = true}
pylint = {version = "^2.3", optional = true}
yapf = {version = "^0", optional = true}
# Optional dependencies to be part of `type` extra
mypy = {version = "^0", optional = true}
types-python-slugify = {version = "^5", optional = true}
# Optional dependencies to be part of `format` extra
isort = {version = "^5", optional = true}
seed-isort-config = {version = "^2.2", optional = true}
black = {version = "stable", optional = true, allow-prereleases = true}
# Optional dependencies to be part of `docs` extra
sphinx = {version = "^4.2", optional = true}
sphinx-autodoc-typehints = {version = "^1.10", optional = true}
sphinx-autobuild = {version = "^2021", optional = true}
sphinx_rtd_theme = {version = "^0", optional = true}
sphinx-bootstrap-theme = {version = "^0.8.0", optional = true}
m2r = {version = "^0", optional = true}
# Optional dependencies to be part of `repl` extra
bpython = {version = "^0", optional = true}
# Non optional dependendies
#############################
# Add you dependencies here #
#############################
pyserial = "^3.5"
cleo = "^0"
pyserial-asyncio = "^0.6"

[tool.poetry.dev-dependencies]
tox = "^3.14"
tox-pyenv = "^1.1"
rope = "^0"
yapf = "^0.32.0"
nest-asyncio = "^1.5.4"

[tool.poetry.extras]
test = ["pytest", "pytest-cov", "pytest-mock", "pytest-html", "pytest-asyncio", "PyHamcrest"]
bdd = ["behave4git", "PyHamcrest"]
lint = ["flake8", "flake8-bugbear", "pydocstyle", "pylint", "yapf"]
type = ["mypy", "types-python-slugify"]
format = ["isort", "seed-isort-config", "black"]
docs= ["m2r", "sphinx", "sphinx-autodoc-typehints", "sphinx-autobuild", "sphinx_rtd_theme"]
repl = ["bpython"]

[tool.poetry.scripts]
teleinfo = "teleinfo.console:main"

[tool.pytest.ini_options]
minversion = "6.0"
testpaths = [
    "tests",
]
asyncio_mode = "strict"

[tool.isort]
# following black's doc for compatibility
# See https://github.com/psf/black#how-black-wraps-lines
multi_line_output = 3
include_trailing_comma = true
use_parentheses = true
force_grid_wrap = 0
line_length = 88
known_third_party = ["cleo", "hamcrest", "pytest", "pytest_asyncio", "serial", "serial_asyncio", "sphinx_rtd_theme"]

[tool.black]
line-length = 88
target_version = ["py38"]

[build-system]
requires = ["poetry==1.1.4"]
build-backend = "poetry.masonry.api"
