# ============================================================================
# INVOKE PYTHON PACKAGE REQUIREMENTS: For tasks
# ============================================================================
# DESCRIPTION:
#    pip install -r <THIS_FILE>
#
# SEE ALSO:
#  * http://www.pip-installer.org/
# ============================================================================

invoke >= 1.2.0
path.py >= 11.5.0
pycmd
six >= 1.12.0
